src/workflows/cases/lead-enrichment.json
{
  "name": "Lead Enrichment Pipeline",
  "nodes": [
    {
      "parameters": { "path": "new-lead", "httpMethod": "POST", "responseMode": "responseNode" },
      "id": "node-webhook",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "=https://person.clearbit.com/v2/people/find?email={{ $json.body.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-clearbit",
      "name": "Enrich via Clearbit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "根据 Clearbit 富化数据评分 (0-100)，并给一句话评价。输出 JSON：{ \"score\": 85, \"reason\": \"...\" }。考虑：公司规模、行业、职位级别。"
        }
      },
      "id": "node-score",
      "name": "AI Lead Scoring",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [680, 300]
    },
    {
      "parameters": { "model": "gpt-4o-mini", "options": { "responseFormat": "json_object" } },
      "id": "node-llm",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "email": "={{ $('Lead Webhook').item.json.body.email }}",
        "additionalFields": {
          "firstname": "={{ $('Enrich via Clearbit').item.json.name.givenName }}",
          "company": "={{ $('Enrich via Clearbit').item.json.employment.name }}",
          "leadScore": "={{ $json.score }}"
        }
      },
      "id": "node-hubspot",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Lead Webhook": { "main": [[{ "node": "Enrich via Clearbit", "type": "main", "index": 0 }]] },
    "Enrich via Clearbit": { "main": [[{ "node": "AI Lead Scoring", "type": "main", "index": 0 }]] },
    "OpenAI": { "ai_languageModel": [[{ "node": "AI Lead Scoring", "type": "ai_languageModel", "index": 0 }]] },
    "AI Lead Scoring": { "main": [[{ "node": "Create HubSpot Contact", "type": "main", "index": 0 }]] }
  }
}
