src/workflows/cases/uptime-monitor.json
{
  "name": "Uptime Monitor",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] } },
      "id": "node-schedule",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://your-site.com/health",
        "options": { "timeout": 10000, "fullResponse": true, "ignoreResponseCode": true }
      },
      "id": "node-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.statusCode }}", "rightValue": 200, "operator": { "type": "number", "operation": "notEquals" } }
          ]
        }
      },
      "id": "node-if",
      "name": "Is Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "#ops-alerts",
        "text": "=🔴 *Site DOWN* · status {{ $json.statusCode }}\\nResponse: ```{{ $json.body }}```"
      },
      "id": "node-discord-alert",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "uptime_log",
        "fields": {
          "values": {
            "url": "https://your-site.com/health",
            "status": "={{ $json.statusCode }}",
            "duration_ms": "={{ Date.now() - new Date($execution.startedAt).getTime() }}",
            "checked_at": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "node-log",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every 5 min": { "main": [[{ "node": "Health Check", "type": "main", "index": 0 }]] },
    "Health Check": { "main": [[{ "node": "Is Down?", "type": "main", "index": 0 }]] },
    "Is Down?": {
      "main": [
        [{ "node": "Discord Alert", "type": "main", "index": 0 }],
        [{ "node": "Log to Airtable", "type": "main", "index": 0 }]
      ]
    },
    "Discord Alert": { "main": [[{ "node": "Log to Airtable", "type": "main", "index": 0 }]] }
  }
}
